body {
    margin-top: 1.8cm;
}

.my-container {
    padding: 40px;
}

.top-margin-from-my-containers-h2 {
    margin-top: 40px;
}

.accordion-item h2 button {
    font-weight: bold;
}

.exp-pro-desc {
    border: none;
}

.duration {
    margin-bottom: 8px;
    font-style: italic;
}

.view-button {
    text-align: right;
}

/* font styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    font-family: 'Amaranth', sans-serif;
}

.sub-heading {
    font-family: 'Nunito', sans-serif;
}

.socials a{
    color: rgb(37, 37, 37);
    margin: 2rem;
    font-size: xx-large;
    transform: scale(1);
    background-color: rgb(243, 230, 225);
    border: none;
}

.socials a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(243, 230, 225);
    transform: scale(1.1);
}

.contact-me{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-size: larger;
    font-weight: 600;
    padding: 0.5rem;
}
.contact-me div{
    margin: 1rem;
}

.back_to_top{
    display: flex;
    justify-content: right;
}

.back_to_top a{
  color: black;
  font-size: 3rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

#totop {
    position: fixed;
    font-size: 3rem;
    bottom: 30px;
    right: 14px; 
    cursor: pointer;
    
}
