.socials-contact-link {
    text-decoration: none;
}

.socials-contact-link img {
    margin: 10px;
    height: 2cm;
    transition: transform 200ms;
}

.socials-contact-link img:hover {
    transform: scale(0.9);
}